name: whiskers

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Whiskers
        uses: catppuccin/setup-whiskers@v2

      - name: Check
        run: |
          whiskers --check themes/backgrounds/catppuccin-backgrounds.json templates/backgrounds.tera
          whiskers --check themes/terminal/catppuccin-latte.json templates/terminal.tera
          whiskers --check themes/terminal/catppuccin-frappe.json templates/terminal.tera
          whiskers --check themes/terminal/catppuccin-macchiato.json templates/terminal.tera
          whiskers --check themes/terminal/catppuccin-mocha.json templates/terminal.tera
